		body {
			margin: 0px 10px 0px 10px;
			padding: 0px;
			font-family: Arial,Verdana;
			background-color:#fefefe;
		}

		@font-face {
			font-family: 'callunaregular';
			src: url('calluna-regular-webfont.woff2') format('woff2'),
			url('calluna-regular-webfont.woff') format('woff');
			font-weight: normal;
			font-style: normal;

		}


		.container {
			max-width: 1170px;
			margin: 0 auto;
		}
		
		@media (min-width: 1200px) {
			.container {
				width: 1170px!important;
			}
		}
		
		@media (min-width: 992px) {
			.container {
				width: auto!important;
			}
		}
		
		@media (min-width: 768px) {
			.container {
				width: auto!important;
			}
		}

		
		h1{
			font-size:36px;
		}
		
		.h1-title
		{
			font-weight:600;
			font-size:15px;
			margin-top:3px;
			margin-top:3px;			
		}
		
		h2{
			font-size:24px;
			margin-top:3px;
		}
		h4{
			margin-top: 30px;
		}

		.mainheader{
			position:fixed;
			top:0px;
			background-color:#fefefe;
			z-index:100000;
			max-width:1170px;
			border-bottom:1px gray solid;
			left:0;
			right: 0;
			margin: 0 auto;
			padding-top:10px;
			padding-bottom:10px;
		}
		.currencyholder{margin-top:18px;}
		.currencyholder ul{
			margin: 0;
			padding: 0;
		}
		.currencyholder ul li {
			display: inline-block;
			width: 45%;
		}
		.currencyholder ul li span {
			color: #0195d5;
			font-size: 16px;
			font-weight: bold;
			display: block;
		}
		.currencyholder ul li strong{
			display: block;
			margin-top:2px;
		}
		.mainmenu{
			margin-top:30px;
		}
		.mainmenu>ul{
			margin:0;
			padding:0;
			text-align: right;
		}
		.mainmenu ul>li{
			color: #0195d5;
			font-size: 16px;
			font-weight: bold;
			float: none;
			display: inline-block;
			margin: 0 8px;
		}
		.mainmenu ul>li:last-child{
			margin-right: 0;
		}
		.mainmenu ul>li a{
			color: #0195d5;
			-moz-transition: .5s ease;
			-ms-transition: .5s ease;
			-o-transition: .5s ease;
			-webkit-transition: .5s ease;
			transition: .5s ease;
		}
		.mainmenu .mainnavbar>ul>li:nth-child(3)>a {
			color: #FFD700;
		}
		.mainmenu ul>li a:hover , .mainmenu ul>li.active a{ color:#9c9c9c;}
		.innerpage{ margin-top:105px;}
		
		table.main-ico-table {
			width:100%;
			border-collapse: collapse;
			/*border: 1px solid #e1e1e1;*/
		}
		
		table.titles-table {
			border-left: 0px;
			border-right: 0px;
			border-bottom: 1px solid #e1e1e1;
			border-top: 1px solid #e1e1e1;
			margin: 10px 0px 10px 0px;
		}
		
		
		
		table.main-ico-table th, td {
			border: 0px solid white;
		}
		
		table.main-ico-table th {
				font-size: 20px;
				color: #c5c5c5;
				font-weight: 200;
		}
		
		table.main-ico-table tr:nth-child(even) {
			background-color: #f6f6f6;
		}		
		
		.padded-table td {
			padding:15px;
		}
		
		.ico-button
		{
			 margin-top:25px;
			 margin-bottom:10px;
			 height:37px;
			 display:block;
			 background:transparent url('images/ico-details-button-a.png') center top no-repeat;			
		}
		
		.ico-button:hover {
		   background-image: url('images/ico-details-button-b.png');
		}		
		
		.junior td {
			padding:7px 7px 7px 15px!important;
		}
		
		.main-ico-table th {
			padding: 1px 15px 1px 15px;
		}
		
		.project-logo {
			width:150px;
			height:41px;
		}
		
		.project-info {
			font-size:12px;
			min-height: 50px;
		}
		
		.project-info-junior
		{
			font-size:12px;
			overflow: hidden;
			text-overflow: ellipsis;
			-o-text-overflow: ellipsis;
			white-space: nowrap;
			margin:0px;
			color: #979797;
		}
		
		.project-name-junior{
				/* text-align:center; */
				font-size:14px;
				margin:0px;
		}
		
		.project-date-junior
		{
			font-size:12px;
			/* text-align:center; */
			margin:0px;
			color: #979797;
		}
		
		.project-link-junior{
				font-size:12px;
				margin:0px;
		}
		
		.project-time{
			font-size:24px;
			color:#0195d5;
			padding:0px 3px 3px 0px;
			margin:0px;
			line-height: 24px;
		}
		
		.small-time{
			font-size:10px;
			padding:3px;
			margin:0px;
		}
		
		.time-unit-div{
			float:left;
			text-align:center;
			padding:3px 10px 3px 3px;
		}
		
		.price-unit-div{
			float:left;
			text-align:left;
			padding:3px 13px 3px 3px;
		}
		
		.homepage-icon{
			
		}
		
		.selected-tab{
			background-color: #0195d5 !important;
			color: #ffffff !important;
		}
		
		.tab{
			background-color: #f1f1f1;
			color: #373f51;
			width: 150px;
			padding: 5px 5px 4px 5px;
			font-size: 16px;
			float: left;
			text-align: center;
			margin: 0px 5px 5px 0px;
			border-radius: 5px;
		}
		
		a .tab {text-decoration:none;}

		.table-dropdown-div{
			display:none;
		}
		
		.filter-dropdown-div{
			float:right;
			font-size:22px;
			margin-left: 10px;
		}
		
		.ico-table-dropdown{
			font-size:28px;
			margin:10px;
		}

		.filter-dropdown{
			font-size:22px;
			background-color: #d8ffee;
		}

		.category_tag{
			font-size:9px;
			color:#00c170;
			text-transform:uppercase;
			font-weight:600;
			padding:2px;
			border: 1px solid #0195d5;
			background-color: #c4ffe8;
		}
		
		.rec-icos-dev{
			border:1px solid gray;
			width:100%;
			text-align:center;
			padding:10px 5px 5px 5px;
			height: 170px;
			background-color: #fffeee;
		}
		
		@media (max-width: 991px) {
			.hidden-head {display:none;}
			/*.project-time{font-size:30px;line-height: 30px;}*/
		}
		
		@media (max-width: 700px) {
			/*.project-time{font-size:20px;line-height: 20px;}*/
			
		}
		
		@media (max-width: 605px) {
			/*.table-tabs{display:none;}*/
			.table-dropdown-div{display:inline;}
			.filter-dropdown-div{float:none;}
		}
		
		.main-menu{
			text-transform:uppercase;
		}
		
		.list-button{
			float:right;
			background-color:#39feab;
			border:1px black solid;
			padding:2px;
			margin:25px;
			font-size:12px;
			color:#000;
		}
		
		.menu-link{
			padding:2px;
			margin:10px;
			font-size:12px;
			color:#000;
		}
		
		.menu-icon{
			float:right;
			padding:2px;
			margin:20px;
			cursor:pointer;
		}
		
		.share-icon{
			float:right;
			padding:2px;
			margin:20px;
			cursor:pointer;
		}

		.menu-link-header{
			float:right;
			padding:1px;
			margin:23px 7px;
		}
		
		.menu-link-header a{
			font-size:16px;
			text-decoration:none;
		}
		
		.mobile-menu-link{
			display:none;
		}

		
		.footer-menu-link a{
			text-transform:uppercase;
			padding:2px;
			margin:3px 0px;
			font-size:12px;
			color:#000;
		}

		h4.footer-title{
			    margin-top: 10px;
				text-transform:uppercase;
		}
		
		.menu-box{
			display:none;
			position:absolute;
			right:20px;
			top:60px;
			width:200px;
			border:1px solid black;
			background-color:#fff;
		}
		
		.share-box{
			display:none;
			padding:10px;
			position:absolute;
			right:50px;
			top:60px;
			width:210px;
			border:1px solid black;
			background-color:#fff;
		}

		@font-face {
			font-family: "pricenumbers";
			src: url(https://icowatchlist.com/static/font2.ttf) format("truetype");
		}
		
		.price-open{
			font-family: "pricenumbers", Arial, Tahoma;
			font-size:17px;
			color:#6e6e6e;
			padding:3px 3px 3px 3px;
			margin:0px;
			line-height: 17px;			
		}
		
		.price-now{
			font-family: "pricenumbers", Arial, Tahoma;
			font-size:20px;
			color:#000000;
			padding:7px 3px 3px 3px;
			margin:0px;
			line-height: 20px;			
		}
		
		.price-change-green
		{
			font-family: "pricenumbers", Arial, Tahoma;
			font-size:15px;
			color:green;
			padding:3px;
			margin:0px;
			line-height: 15px;	
			text-align:center;			
		}
		
		.price-change-red
		{
			font-family: "pricenumbers", Arial, Tahoma;
			font-size:15px;
			color:red;
			padding:3px;
			margin:0px;
			line-height: 15px;	
			text-align:center;				
		}
		
		.project-logo{
			margin-top:10px;
		}
		
		.project-long-description{
			font-size: 16px;
			color: #828282;
			margin: 0px 15px 20px 15px;
		}
		
		.more-details-link
		{
			margin-left: 40px;
			font-size: 12px;
			color: black;
			margin-top: 5px;
		}
		
		
		.video-container {
			position:relative;
			padding-bottom:56.25%;
			padding-top:30px;
			height:0;
			overflow:hidden;
		}

		.video-container iframe, .video-container object, .video-container embed {
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
		}		


		.project-top-right{
			margin:20px 0px 10px 0px;
			float:right;
		}
			
		.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
			
			
		.footer-div{
			padding:10px;
			border-top: 1px solid #b5b5b5;
			background:#ebebeb; 
		}

		.footer-center{
			text-align:center;
		}

		.social-icon
		{
			opacity: 0.5;
			filter: alpha(opacity=50);
			margin-right:4px;			
		}
		
		.social-icon:hover
		{
			opacity: 1;
			filter: alpha(opacity=100);		
		}
		
		
		
		.project-top-right-main{
			float:right; width:40%;padding:0px 10px 0px 10px;
		}

		.project-top-left-main{	
			float:left; width:55%;padding:0px 10px 0px 10px;
		}
		
		
	   .progress-frame{
			width: 100%;
			height: 15px;
			border: 2px #cacaca solid;
			border-radius: 7px;
			position: relative;			   
	   }
	   
	   .prograss-fill{
			height: 100%;
			background-color: #00c170;
			border-radius: 7px;
			position: absolute;		   
	   }
		   
		@media (max-width: 510px) {
			h1 {font-size: 28px;}
			.project-top-right-main{width:100%;float:left;}
			.project-top-right{float:left;}
			.project-top-left-main{width:100%;}
			
			
			
			table.main-ico-table th {
				font-size: 20px;
			}
		}	
			
		@media (max-width: 650px) {
			/*.menu-link-header{display:none;}*/
			.mobile-menu-link{display:block;}
		}	
		
		
		
		.db{

		}
		

	   .countdown-inner-div, .ticker-inner-div{
			margin-top: 5px;
			width: 170px;			
	   }		
		
		@media screen and (max-width: 520px) {
		   .logo-div , .progress-div , .button-div, .upcoming-countdown-div, .ticker-div {
		   width : 100%!important;
		   text-align: center;
		   }
		   .progress-div-title, .date-div{display:none;}
		   
			.progress-rating {
		   margin:0px 60px;
		   }
		   

		   
		   .progress-ico {
			font-size: 12px;
			background-color: #e2fff2;
			border: 1px solid #b2b2b2;
			padding: 4px;
			margin: 0px 65px;
			text-decoration: none;
			color: black;
			border-radius: 5px;
		   }
		   
		   
		   .countdown-inner-div, .ticker-inner-div{
				width: 170px;
				margin: 0 auto;
				text-align: left;			   
		   }

			.db{
				/*border:1px solid black;*/
				padding-bottom: 15px;
			}
		   
		}
		@media screen and (min-width: 521px) {
		   .logo-div div a p {
		   width:150px;
		   }
		   .progress-rating {
		   margin:30px 0px;
		   }
		   .progress-ico {
				font-size: 12px;
				background-color: #e2fff2;
				border: 1px solid #b2b2b2;
				padding: 4px;
				margin: 30px 5px 10px 0px;
				text-decoration: none;
				color: black;
				border-radius: 5px;
		   }
		}

		@media screen and (min-width: 990px) {

			.button-div div a div {
				width:100px;
				float:right;
				margin-right:50px;
			}

		}

		@media screen and (min-width: 770px) {

			.button-div div a div {
				width:75px;
				float:right;
				margin-right:50px;
			}


		}

		@media screen and (min-width: 521px) {

			.button-div div a div {
				width:80px;
				float:right;
				margin-right:50px;
			}
			.progress-rating {
				margin:30px 20px ;
			}

		}


		.footer-post-bg{
			width:calc(100% - 30px);
			height:80px;
			background-color:#028c52;
			opacity:0.8;
			color:#fff;
			font-size:14px;
			bottom:0px;
			left:0px;
			position:absolute;
			margin:0px 15px;
			padding:10px;
		}
		
		.footer-post-title{
			width:calc(100% - 30px);
			height:80px;
			color:#fff;
			font-size:14px;
			bottom:0px;
			left:0px;
			position:absolute;
			margin:0px 15px;
			padding:10px;
		}
		
		.footer-post-image{
			width:100%;
			height:200px;
		}
		
		.junior-title{
			margin: 50px 10px 15px -15px;
			font-size: 18px;
			background-color: #00cd73;
			color: #ffffff;
			width: 170px;
			padding: 5px 5px 4px 5px;
			font-size: 16px;
			float: left;
			text-align: center;
			border-radius: 5px;
		}
		.aligndesc{
			margin:8px;
			padding-left: 20px;
		}
		#tag-page #tag, .grid #tag {
		    margin: 25px 0 0 0;
		    border: none;
		    background: #fafafa;
		}
		#tag-page #tag .image, .grid #tag .image {
		    padding: 50px;
		    text-align: center;
		}
		#tag-page #tag .image img, .grid #tag .image img {
		    max-width: 100%;
		}
		#tag-page #tag .description, .grid #tag .description {
		    padding-right: 50px;
		    padding-top: 25px;
		}
		h1, h2{ position: relative;}
		h1.title:after, h2.title:after {
		    content: "";
		    background:#0195d5;
		    position: absolute;
		    bottom: 0;
		    left: 0;
		    height: 2px;
		    width: 15%;
		    max-width: 50px;
		    min-width: 30px;
		}
		#tag-page .results, .grid .results {
		    margin-top: 20px;
		    padding: 0 10px;
		    clear: both;
		}
		.tab-content>.active {
		    display: block;
		}
		#tag-page .result .image, .grid .result .image {
		    overflow: hidden;
		    position: relative;
		    padding: 0 2px 5px;
		}
		#tag-page .badge.badge-default, .grid .badge.badge-default {
		    background-color: #ffcd04!important;
		}
		#tag-page .image .sponsored, .grid .image .sponsored {
		    background: #ffcd04;
		    position: absolute;
		    bottom: 0;
		    right: 10px;
		    padding: 5px;
		    text-transform: uppercase;
		    text-shadow: 0 1px 1px rgba(0,0,0,.5);
		    -webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,.75);
		    -moz-box-shadow: 0 0 2px 0 rgba(0,0,0,.75);
		    box-shadow: 0 0 2px 0 rgba(0,0,0,.75);
		    border-radius: 4px;
		    display: none;
		}
		#tag-page .result, .grid .result {
		    margin-bottom: 20px;
		    margin-top: 20px;
		}
		.result .image img{ width: 100%;}
		#tag-page .result h2, .grid .result h2{ font-size: 18px;}
		#tag-page .result .info a, .grid .result .info a {
		    font-size: 14px;
		    color: #27282d;
		}
		#tag-page .result p a, .grid .result p a {
		    color: #27282d;
		    font-size: 14px;
		}
		#tag-page .result h2 a, .grid .result h2 a {
		    color: #010101;
		    font-family: arial;
		    font-weight: 600;
		}
		
		#tag-page .result .info, .grid .result .info {
		    padding: 10px 0;
		    font-size: 14px;
		    color: #a1a1a1;
		}
		#tag-page .result .info .date, .grid .result .info .date {
		    margin-right: 10px;
		    display: inline-block;
		    white-space: nowrap;
		}
		#tag-page .result .info .author, .grid .result .info .author {
		    margin-left: 10px;
		    display: inline-block;
		    white-space: nowrap;
		}
		.post-area {
		    padding-right: 25px;
		}
		#post .post-header {
		    margin-bottom: 20px;
		}
		#post .post-header .date {
		    padding-top: 4px;
		    float: right;
		    color: #a1a1a1;
		    font-size: 14px;
		}
		#post .post-header .staff .user {
		    font-size: 16px;
		    color: #a1a1a1;
		}
		#post .post-header .staff .user .avatar {
		    width: 32px;
		    height: 32px;
		    background-size: auto 100%;
		    background-position: center center;
		    background-repeat: no-repeat;
		    background-color: transparent;
		    display: inline-block;
		    vertical-align: top;
		    border-radius: 50%;
		    margin-right: 10px;
		    -webkit-transition: box-shadow .2s ease 0s;
		    -moz-transition: box-shadow .2s ease 0s;
		    -o-transition: box-shadow .2s ease 0s;
		    transition: box-shadow .2s ease 0s;
		}
		#post .post-header .staff .user .name, #post .post-header .staff .user .role {
		    display: inline-block;
		    vertical-align: top;
		    padding-top: 4px;
		}
		#post .post-header .staff .user .name, #post .post-header .staff .user .role {
		    display: inline-block;
		    vertical-align: top;
		    padding-top: 4px;
		}
		#post .post-header .staff .user a {
		    font-family: 'Open Sans',sans-serif;
		    font-weight: 600;
		    color: #27282d;
		    margin-right: 10px;
		}
		#post .post-header h1 {
		    font-size: 30px;
		    font-family: 'Open Sans',sans-serif;
		    font-weight: 600;
		    color: #010101;
		    margin: 20px 0 20px;
		}
		#post .referral_widget {
		    padding: 0;
		    margin: 0;
		    border-top: 1px solid #e8e8e8;
		    border-bottom: 1px solid #e8e8e8;
		}
		#post .referral_widget .referral_stats {
		    display: inline-block;
		    padding-left: 10px;
		}
		#post .referral_widget .total-qty {
		    display: inline-block;
		    font-family: 'Open Sans',sans-serif;
		    font-weight: 600;
		    font-size: 18px;
		    color: #27282d;
		    line-height: 28px;
		    margin: 7px 0 7px;
		    vertical-align: top;
		}
		#post .referral_widget .views {
		    display: inline-block;
		    vertical-align: top;
		    font-family: 'Open Sans',sans-serif;
		    font-weight: 400;
		    font-size: 12px;
		    color: #8b8b8b;
		    line-height: 28px;
		    margin: 8px 0 5px;
		}
		#post .referral_widget .referral_stats {
		    display: inline-block;
		    padding-left: 10px;
		}
		#post .post-content .image {
		    margin: 15px 0;
		}
		#post .post-content img {
		    width: 100%!important;
		}
		#post .post-content .image .sponsored {
		    background: #0195d5;
		    position: absolute;
		    right: 33px;
		    margin-top: -32px;
		    padding: 5px;
		    text-transform: uppercase;
		    font-weight: 600;
		    border-radius: 4px;
		    text-shadow: 0 1px 1px rgba(0,0,0,.5);
		    -webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,.75);
		    -moz-box-shadow: 0 0 2px 0 rgba(0,0,0,.75);
		    box-shadow: 0 0 2px 0 rgba(0,0,0,.75);
		    display: none;
		}
		#post .post-content p {
		    margin: 0 0 10px;
		}
		blockquote {
		    border-left: 5px solid #0195d5;
		    font-size: 17px;
		    margin: 20px 0 20px;
		    padding: 10px 20px;
		    font-weight: 400!important;
		    font-style: italic;
		    text-align: justify;
		}
		#post .post-content .tags {
		    padding-top:10px;
		    padding-bottom: 0;
		}
		#post .post-content .tags ul {
		    padding: 0;
		    margin: 0;
		}
		#post .post-content .tags ul li {
		    list-style: none;
		    display: inline-block;
		    vertical-align: top;
		    margin-bottom: 10px;
		    float: left;
		    margin-right: 10px;
		}
		#post .post-content .tags ul li a {
		    font-size: 16px;
		    font-family: 'Open Sans',sans-serif;
		    font-weight: 600;
		    color: #010101;
		    padding: 10px 15px;
		    display: block;
		    background-color: #fafafa;
		}
		#post .post-content .tags ul li.super-tag a {
		    background: #ffcd04;
		}
		#post .comments-header {
		    padding-top: 20px;
		    padding-bottom: 20px;
		    text-align: center;
		    background-color: #f8f8f8;
		    cursor: pointer;
		}
		#post .comments-header .comments-title {
		    color: #7f919e;
		    text-decoration: none;
		}
		#post{
			margin-top: 40px;
		}
		.referral_widget{ overflow: hidden;}
		.footer-div{ background:#ededed; }
		.footer-logo{padding-top: 10px; padding-bottom: 10px;}
		.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){ width: 100%;}
		.bootstrap-select>.dropdown-toggle.translateselect{
			background:#fafafa;
			color: #0195d5;s
		    font-size: 16px;
		    font-weight: bold;
		    font-family: arial; 
		}
		.mainnavbar{ margin-left: 0; margin-right: 0;}
		.mainmenu ul{ text-align: right;}
		.btn-group.bootstrap-select ul li{
			display: block;
			text-align:left;
		}
		.mainmenu ul ul.dropdown-menu{ text-align: left;}
		.mainmenu ul ul.dropdown-menu li{ display: block;}
		.hideimpd{ display: none !important;}
		.hideimp{ display:block !important;}
		#google_translate_element span{ display: inline;}
		
		.sitelogo img{ width: 120px; float: left;}

		@media (max-width: 767px) {
			.mainheader {
				position: relative;
			}
			.innerpage{ margin-top: 15px;}
			table.main-ico-table {
				width: calc(100% - 30px); 
				border-collapse: collapse;
				/* border: 1px solid #e1e1e1; */
				margin: 0 15px;
			}
			.db.logo-div{ padding-top: 10px;}
			.db.progress-div{ display: none;}
			.db.description-div.hidden-xs{ display: block !important; text-align: center;}
			.db.description-div.hidden-xs div{ padding-left: 0 !important; text-align: center;}
			.project-time{text-align: center;}
			.db.description-div p{ display:none;}
			.aligndesc{ padding-left: 0;}
			.sitelogo img{ width: 72px; float: left;}
		}
		@media only screen and (max-width : 991px){
			.navbar-header {float: none;}
            .navbar-header{
                position: absolute;
                top: 0;
                right: 19px;
            }
			.navbar-toggle {
				background: #ddd;
				display: block;
				z-index: 1000;
				float: none;
				margin:15px 0 15px auto;
				box-shadow: none;
				outline: 0;
				border: none;

			}
			.navbar-toggle .icon-bar {background: #fff; margin: 0 auto;}
			.navbar-collapse {border-top: 0;box-shadow: none;}
			.navbar-collapse.collapse {display: none !important;}
			.navbar-nav {float: none;margin: 7.5px -15px;}
			.collapse.in {display: block !important;}
			.navbar-collapse.mainnavbar{
				left: 0px;
				right: 0;
				margin: 0 auto;
				overflow: hidden;
				background: rgb(255, 255, 255);
                border: 1px solid #efefef;

			}
            .mainnavbar .dropdown-menu{
                width: 100%;
                position: relative;
            }
            .mainmenu{ 
            	margin-top: 0;
            	margin-top: 0;
			    position: absolute;
			    right: 0;
			    top: 48px;
			    z-index: 1000;
                          }
			.mainnavbar ul{
				padding:10px;
                  }
			.mainnavbar ul li {
				display: block;
				text-align: center;
				margin: 0 0 10px;
				float: none;
			}
			.dropdown-menu {
				position: absolute;
				top: 100%;
				left: 0;
				right: 0;
			}
			.skiptranslate.goog-te-gadget{ text-align: left;}
			.hideimp{ display:none !important;}
			.hideimpd{ display: inline-block !important; text-align: left; margin-top:10px;}
			.languageholder{ margin-top: 10px;}
		}
		@media only screen and (max-width: 767px){
			.mainheader{ margin: 0 -15px;}
			.navbar-toggle {
				background: #ddd;
				display: block;
				z-index: 1000;
				float: none;
				margin:0 0 15px auto;
				box-shadow: none;
				outline: 0;
				border: none;
				position: absolute;
				top: 10px;
				right: 0;
			}
			.languageholder{ margin-top:0;}
		}

		@media only screen and (min-width : 992px) and (max-width : 1200px) {
			.mainmenu ul{ padding: 0;}
			.mainmenu ul > li {
				color: #0195d5;
				font-size: 15px;
				font-weight: bold;
				float: none;
				display: inline-block;
				margin: 0 4px;
			}
		}

		.persection{
			padding-top: 80px;
			padding-bottom:80px;
			text-align:center;
			padding-left: 8%;
			padding-right:8%; 
		}
		.persection h1 {
			font-family: 'callunaregular';
			font-size: 28px;
			font-weight: 400;
			margin-top: 0;
		}
		.persection p {
			font-family: 'callunaregular';
			font-size: 16px;
			font-weight: 400;
		}

		#vipsignals{
			background: #fff;
			margin: 0 10%;
		}
		#vipsignalsbg{
			padding-top: 250px;
			padding-bottom:250px;
			background-image: url(../../images/vipsignals.jpg);
			background-attachment: fixed;
			background-size: 100%;
			background-repeat: no-repeat;
		}
		#icoanalysisbg{
			padding-top: 250px;
			padding-bottom:250px;
			background-image: url(../../images/icoanalysis.jpg);
			background-attachment: fixed;
			background-size: 100%;
			background-repeat: no-repeat;
		}
		#cryptocrashbg{
			padding-top: 250px;
			padding-bottom: 250px;
			background-image: url(../../images/crash_course.jpg);
			background-attachment: fixed;
			background-size: 100%;
			background-repeat: no-repeat;
		}
		#vipeventsbg{
			padding-top: 250px;
			padding-bottom:250px;
			background-image: url(../../images/vipevents.jpg);
			background-attachment: fixed;
			background-size: 100%;
			background-repeat: no-repeat;
		}
		#vipsignalsbg img , #icoanalysisbg img , #cryptocrashbg img , #vipeventsbg img {
			display: none;
		} 

		#vipevents{
			background: #fff;
			margin: 0 10%;
		}
		.backbutton{
			padding: 10px;
		}
		.backbutton a{
			color: #fff;
			background: rgb(241, 194, 50);

		}
		.mainnavbar a.dropdown-toggle{
			color: rgb(241, 194, 50);
		}
		.mainmenu ul>li .dropdown-toggle{ cursor: pointer; margin-left: 5px;}
                .mainmenu{float: right;}
		.googletranslate{ float: right; margin-top:30px;}

		@media only screen and (max-width :767px) {
			.currencyholder{
				margin-top: 0;
			}
			#vipsignalsbg{
				padding-top: 100px;
				padding-bottom:100px;
				background-size:auto 100%;
			}
			#icoanalysisbg{
				padding-top: 150px;
				padding-bottom:150px;
				background-size:auto 100%;
			}
			#cryptocrashbg{
				padding-top: 150px;
				padding-bottom:150px;
				background-size:auto 100%;
			}
			#vipeventsbg{
				padding-top: 100px;
				padding-bottom:100px;
				background-size:auto 100%;
			}
			.persection{

				padding-top:45px;
				padding-bottom:45px;
			}
			#vipsignalsbg img , #icoanalysisbg img , #cryptocrashbg img , #vipeventsbg img {
				display:block;
				width: 100%;
			} 
			#vipsignalsbg , #icoanalysisbg , #cryptocrashbg  , #vipeventsbg { 
				padding-top: 0; 
				padding-bottom: 0;
				background:none;
			}
			#vipevents , #vipsignals{
				margin: 0 0;
			} 
                       .googletranslate{ float: right; margin-top: 10px; float:left;}


		}

                


		


